/* Under development */
/* Instanz 1: 1775 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--background_color_primary: #ffffff;
	--background_color_secondary: rgb(184, 231, 255);
	--background_color_blue_light: rgba(184, 231, 255, 0.5);
	--text_primary_color: rgb(0, 8, 56);
	--text_color_secondary: #0073ff;
	--shadow_color_black: rgba(0, 0, 0, 0.5);
	--shadow_color_blue_light: rgba(184, 231, 255, 0.75);
	--shadow_color_blue_dark: rgba(0, 8, 56, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--text_primary_color);
	user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background_color_primary);
	color: var(--text_primary_color);
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spacing {
	width: 85%;
	color: var(--text_primary_color);
	margin: 75px 0 75px 0;
}

.btn {
	display: inline-block;
	padding: 10px 10px;
	background-color: var(--background_color_secondary);
	border-radius: 10px;
	box-shadow: 0 0.2rem 0.5rem var(--shadow_color_black);
	text-decoration: none;
	font-size: 20px;
	color: var(--text_primary_color);
	letter-spacing: 1px;
	font-weight: 600;
	border: 2px solid transparent;
	transition: 0.5s ease;
}

.btn:hover {
	background: transparent;
	color: var(--text_primary_color);
	border-color: var(--text_primary_color);
}

header {
	background-color: var(--background_color_secondary);
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	z-index: 9;
}

header div {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header div div#logo_header p {
	font-weight: 700;
	font-size: 22px;
}

header div div#tabs_header {
	width: 100%;
	height: 100%;
}

header div div#tabs_header nav {
	width: 100%;
}

header div div#tabs_header nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header div div#tabs_header nav ul li {
	padding-left: 25px;
	font-size: 16px;
	font-weight: 500;
}

header div div#tabs_header nav ul li a {
	text-decoration: none;
	color: var(----text_color_primary);
}

main {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#top {
	width: 100%;
	height: 100%;
	background-color: var(--background_color_primary);
	margin-top: 25px;
}

section#top div.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
}

section#top div.grid-container div.row1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#top div.grid-container div.row1 div.welcome-content {
	width: 80%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section#top div.grid-container div.row1 div.welcome-content h3 {
	font-size: 30px;
	transform: translateY(20px);
	color: var(----text_color_primary);
}

section#top div.grid-container div.row1 div.welcome-content h1 {
	font-size: 65px;
	color: var(----text_color_primary);
}

section#top div.grid-container div.row1 div.welcome-content p {
	font-size: 15px;
	transform: translateY(30px);
	color: var(----text_color_primary);
	width: 65%;
	line-height: 20px;
}

section#top div.grid-container div.row1 div.welcome-content a {
	width: fit-content;
	text-decoration: none;
	transform: translateY(45px);
}

section#top div.grid-container div.row2 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#top div.grid-container div.row2 img {
	width: 525px;
	height: 525px;
	border-radius: 100%;
	transition: 0.5s ease;
}

section#top:hover > div.grid-container div.row2 img {
	box-shadow: 0 0 100px 25px var(--shadow_color_blue_light);
}

section#about {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#about div.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 75%;
	column-gap: 5%;
}

section#about div.grid-container div.row1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#about div.grid-container div.row1 img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	transition: 0.5s ease;
}

section#about:hover > div.grid-container div.row1 img {
	box-shadow: 0 0 90px 20px var(--shadow_color_blue_light);
}

section#about div.grid-container div.row2 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

section#about div.grid-container div.row2 div h3 {
	font-size: 35px;
	transform: translateY(-5px);
}

section#about div.grid-container div.row2 div h4 {
	font-size: 25px;
	transform: translateY(-15px);
}

section#about div.grid-container div.row2 div p {
	font-size: 17px;
	line-height: 18px;
}

section#experience {
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

section#experience div.content {
	width: 100%;
	height: 100%;
}

section#experience div.content h3 {
	font-size: 35px;
}

section#experience div.content div.grid-container {
	width: 90%;
	display: flex;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
	justify-content: space-between;
	align-items: center;
}

section#experience div.content div.grid-container div.wrapper {
	width: 350px;
	height: 350px;
	border: #000837 3px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.5s ease;
}

section#experience div.content div.grid-container div.wrapper:hover {
	box-shadow: 0 0 25px 5px var(--shadow_color_blue_dark);
}

section#experience div.content div.grid-container img {
	width: 100%;
	height: 100%;
	position: absolute;
}

section#experience div.content div.grid-container div.wrapper div {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background_color_blue_light);
}

section#experience div.content div.grid-container div.wrapper div h5 {
	font-size: 25px;
	position: absolute;
	top: 15px;
}

section#experience div.content div.grid-container div.wrapper div p {
	position: absolute;
	top: 60px;
	width: 90%;
	font-size: 17px;
	text-align: center;
}

section#experience div.content div.grid-container div.wrapper div a {
	position: absolute;
	bottom: 15px;
	padding: 5px 5px;
	font-size: 17px;
}

section#experience div.content div.grid-container div.wrapper div a:hover {
	background: var(--background_color_primary);
}

section#projects {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

section#projects div.content {
	width: 90%;
	height: 100%;
}

section#projects div.content div.container {
	width: 100%;
	height: 50%;
}

section#projects div.content div.container#secondContainer {
	padding-top: 25px;
}

section#projects div.content div.container h3 {
	font-size: 35px;

}

section#projects div.content div.grid-container {
	width: 90%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
	display: grid;
	grid-template-columns: 350px 350px 350px 350px;
	column-gap: 25px;
	row-gap: 25px;
	align-items: center;
}

section#projects div.content div.grid-container div.wrapper {
	width: 350px;
	height: 350px;
	border: #000837 3px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.5s ease;
}

section#projects div.content div.grid-container div.wrapper:hover {
	box-shadow: 0 0 25px 5px var(--shadow_color_blue_dark);
}

section#projects div.content div.grid-container img {
	width: 100%;
	height: 100%;
	position: absolute;
}

section#projects div.content div.grid-container div.wrapper div {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background_color_blue_light);
}

section#projects div.content div.grid-container div.wrapper div h5 {
	font-size: 25px;
	position: absolute;
	top: 15px;
}

section#projects div.content div.grid-container div.wrapper div p {
	position: absolute;
	top: 60px;
	width: 90%;
	font-size: 17px;
	text-align: center;
}

section#projects div.content div.grid-container div.wrapper div a {
	position: absolute;
	bottom: 15px;
	padding: 5px 5px;
	font-size: 17px;
}

section#projects div.content div.grid-container div.wrapper div a:hover {
	background: var(--background_color_primary);
}

section#testimonials {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section#testimonials div.content {
	width: 90%;
	height: 100%;
}

section#testimonials div.content div.container {
	width: 100%;
	height: 50%;
}

section#testimonials div.content div.container h3 {
	font-size: 35px;
}

section#testimonials div.content div.container div.wrapper {
	width: 100%;
}
.testimonial-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;

}

.testimonial-container .testimonial-wrapper {
	position: relative;
	max-width: 90rem;
	width: 100%;
	padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
	padding: 1rem;
	border-radius: 2rem;
	overflow: hidden;
}

.testimonial-container .testimonial-slide {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--bg-color);
	border-radius: 2rem;
	box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
	padding: 3rem;
	border: 0.5rem solid var(--text_primary_color);
}

.testimonial-slide img {
	width: 14rem;
	height: 14rem;
	object-fit: cover;
	border-radius: 50%;
	border: 0.5rem solid var(--bg-color);
	outline: 0.5rem solid transparent;
	transition: 0.5s ease;
}

.testimonial-container .testimonial-slide:hover img {
	box-shadow: 0 0 15px 15px var(--shadow_color_blue_light);
}

.testimonial-slide h4 {
	font-size: 2.5rem;
	margin: 2rem 0;
}

.testimonial-slide p {
	font-size: 1.4rem;
	text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
	color: var(--text_primary_color);
}

.testimonial-box .swiper-button-next {
	right: 0;
}

.testimonial-box .swiper-button-prev {
	left: 0;
}

.testimonial-box .swiper-pagination-bullet {
	background: rgba(0, 0, 0, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
	background: var(--text_primary_color);
}

footer {
	width: 100%;
	height: 60px;
	margin-top: 30px;
	background-color: var(--background_color_secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
}
