@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--background_color_primary: #ffffff;
	--background_color_secondary: rgb(184, 231, 255);
	--text_primary_color: #000837;
	--text_color_secondary: #0073ff;
	--shadow_color_black: rgba(0, 0, 0, 0.5);
	--shadow_color_blue_light: rgba(184, 231, 255, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: var(--text_primary_color);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background_color_primary);
	color: var(--text_primary_color);
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spacing {
	width: 85%;
	color: var(--text_primary_color);
	margin: 25px 0 25px 0;
}

.btn {
	display: inline-block;
	padding: 10px 10px;
	background-color: var(--background_color_secondary);
	border-radius: 10px;
	box-shadow: 0 0.2rem 0.5rem var(--shadow_color_black);
	font-size: 20px;
	color: var(--text_primary_color);
	letter-spacing: 1px;
	font-weight: 600;
	border: 2px solid transparent;
	transition: 0.5s ease;
}

.btn:hover {
	background: transparent;
	color: var(--main-color);
	border-color: var(--main-color);
}

header {
	background-color: var(--background_color_secondary);
	width: 100%;
	height: 60px;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

header div {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header div div#logo_header p {
	font-weight: 700;
	font-size: 22px;
}

header div div#tabs_header {
	width: 100%;
	height: 100%;
}

header div div#tabs_header nav {
	width: 100%;
}

header div div#tabs_header nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header div div#tabs_header nav ul li {
	padding-left: 25px;
	font-size: 16px;
	font-weight: 500;
}

header div div#tabs_header nav ul li a {
	text-decoration: none;
	color: var(----text_color_primary);
}

main {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#top {
	width: 100%;
	height: 750px;
	background-color: var(--background_color_primary);
}

section#top div.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
}

section#top div.grid-container div.row1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#top div.grid-container div.row1 div.welcome-content {
	width: 80%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section#top div.grid-container div.row1 div.welcome-content h3 {
	font-size: 30px;
	transform: translateY(20px);
	color: var(----text_color_primary);
}

section#top div.grid-container div.row1 div.welcome-content h1 {
	font-size: 65px;
	color: var(----text_color_primary);
}

section#top div.grid-container div.row1 div.welcome-content p {
	font-size: 15px;
	transform: translateY(30px);
	color: var(----text_color_primary);
	width: 65%;
	line-height: 20px;
}

section#top div.grid-container div.row1 div.welcome-content a {
	width: fit-content;
	text-decoration: none;
	transform: translateY(45px);
}

section#top div.grid-container div.row2 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#top div.grid-container div.row2 img {
	width: 525px;
	height: 525px;
	border-radius: 100%;
	transition: 0.5s ease;
}

section#top:hover > div.grid-container div.row2 img {
	box-shadow: 0 0 100px 25px var(--shadow_color_blue_light);
}

section#about {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#about div.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 75%;
	column-gap: 5%;
}

section#about div.grid-container div.row1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#about div.grid-container div.row1 img {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	transition: 0.5s ease;
}

section#about:hover > div.grid-container div.row1 img {
	box-shadow: 0 0 90px 20px var(--shadow_color_blue_light);
}

section#about div.grid-container div.row2 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

section#about div.grid-container div.row2 div h3 {
	font-size: 35px;
	transform: translateY(-5px);
}

section#about div.grid-container div.row2 div h4 {
	font-size: 25px;
	transform: translateY(-15px);
}

section#about div.grid-container div.row2 div p {
	font-size: 17px;
	line-height: 18px;
}

section#experience {
	height: 1000px;
}
